@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1150px;

@main-color: #444444;

@gray-1: #fafafa;
@gray-2: #f1f1f1;
@gray-3: #ececec;
@gray-4: #c6c6c6;
@gray-5: #231f20;
@gray-6: #221f1f;

@aqua-1: #63d1bb;
@aqua-2: #56c3b2;
