@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1150px;
@retina-1: 144dpi;
@retina-2: 1.5dppx;

@main-color: #444444;

@gray-1: #fafafa;
@gray-2: #f1f1f1;
@gray-3: #ececec;
@gray-4: #e5e5e5;
@gray-5: #c7c7c7;
@gray-6: #c6c6c6;
@gray-7: #231f20;
@gray-8: #221f1f;

@aqua-1: #59d5bc;
@aqua-2: #63d1bb;
@aqua-3: #62d1ba;
@aqua-4: #56c3b2;
@aqua-5: #46c1ae;
@aqua-6: #149080;
