.btn {
  display: block;
  padding-top: 8px;
  padding-bottom: 6px;

  font: inherit;

  .bold();

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background: white;
  border: 2px solid @main-color;

  &:hover {
    color: white;
    background: @main-color;
  }

  &:active {
    color: fade(white, 30%);
    background: @main-color;
  }

  &--bigger-font {
    padding-top: 6px;

    font-size: 18px;

    @media (min-width: @tablet-width) {
      padding-top: 8px;

      font-size: 17px;
    }
  }

  &--aqua {
    color: white;
    background: @aqua-1;
    border-color: @aqua-1;

    &:hover {
      background: @aqua-2;
      border-color: @aqua-2;
    }

    &:active {
      color: fade(white, 30%);
      background: @aqua-2;
      border-color: @aqua-2;
    }
  }
}
