.contacts {
  min-height: 865px;
  margin-top: 25px;
}

.contacts__heading,
.contacts__content {
  .container();

  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
}

.contacts__heading {
  .bold(18px, black);
}

.contacts__link {
  text-decoration: none;

  color: @main-color;
  border-bottom: 1px solid @aqua;

  &:hover {
    color: @aqua;
  }

  &:active {
    color: fade(@aqua, 30%);
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 455px;
}

.contacts .btn {
  .container();

  width: 260px;
}

@media (min-width: @tablet-width) {
  .contacts {
    margin-top: 63px;
    padding-top: 87px;
  }

  .contacts__heading,
  .contacts__content {
    padding: 0;
  }

  .contacts__map {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;

    .container();

    min-height: 630px;
  }

  .contacts__heading,
  .contacts__content,
  .contacts .btn {
    margin-left: 170px;
    width: 300px;
  }

  .contacts__map {
    position: absolute;
    top: 154px;
    right: 0;

    width: 525px;
    height: 460px;
  }
}
