.main-footer {
  background: @gray-2;
}

.main-footer__container {
  .container();

  padding-top: 11px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
  box-sizing: border-box;
}

.main-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-footer__container {
    display: flex;
    padding: 0;
    padding-top: 42px;
    padding-bottom: 42px;

    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo {
    display: block;
  }

  .main-footer__logo img {
    width: 102px;
    height: 34px;
  }
}
