.main-content__heading {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 77px;

  .bold(27px, black);

  line-height: 1.1;
  text-align: center;

  background: @gray-2;

  &--index {
    padding-right: 11%;
    padding-bottom: 125px;
    padding-left: 11%;

    background: @gray-1 url("../img/hero-mobile@1x.jpg") no-repeat 50% -18px;
  }

  &--form {
    color: @gray-7;
  }
}

.main-content__container {
  .container();

  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
}

.main-content__desc {
  .container();

  margin-top: 23px;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  font-size: 13px;
  line-height: 1.9;
}

.main-content__dialog {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100vw;
  height: 100vh;

  background: fade(white, 90%);

  &--show {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .main-content__heading {
    padding-top: 94px;

    font-size: 43px;
    line-height: 1.2;

    &--index {
      padding-top: 152px;
      padding-bottom: 490px;

      background: @gray-1 url("../img/hero-desktop.jpg") no-repeat 50% -1px;
    }
  }

  .main-content__container {
    padding: 0;
  }

  .main-content__desc {
    margin-top: 75px;
    padding: 0;

    font-size: 17px;
    line-height: 1.8;
  }
}

@media (min-width: @desktop-width) {
  .main-content__heading {
    padding-bottom: 99px;


    font-size: 53px;
    line-height: 1.1;

    &--index {
      padding-top: 154px;
      padding-bottom: 472px;
    }
  }

  .main-content__container {
    display: flex;

    justify-content: space-between;
  }
}
