.order-form {
  margin-top: 15px;
}

.order-form__background {
  padding-bottom: 22px;
}

.order-form__background:last-of-type {
  padding-bottom: 10px;
}

.order-form__section {
  width: 80%;
  min-width: 260px;
  margin: 0 auto;
  padding: 0;

  border: none;
  border-top: 1px solid @aqua-3;

  &--phone-number,
  &--email {
    position: relative;
  }
}

.order-form__section:nth-child(n+2) {
  margin-top: 23px;
}

.order-form__section-heading {
  min-width: 17%;
  padding: 0;
  padding-right: 7%;

  .aqua-heading();

  background: white;
}

.order-form__list {
  .reset-list();

  margin-top: 16px;
}

.order-form__input {
  display: none;
}

.order-form__radio,
.order-form__checkbox,
.order-form__label {
  .bold(17px, black);

  line-height: 1.1;
}

.order-form__radio,
.order-form__checkbox {
  position: relative;

  display: block;
  min-height: 31px;
  margin-top: 15px;
  padding-top: 9px;
  padding-left: 24%;

  &:hover::before {
    border-color: @aqua-3;
  }

  &:active::before {
    border-color: @gray-5;
  }
}

.order-form__radio::before,
.order-form__radio::after,
.order-form__checkbox::before,
.order-form__checkbox::after {
  content: "";

  position: absolute;
}

.order-form__radio::before,
.order-form__checkbox::before {
  top: 0;
  left: 0;

  width: 36px;

  border: 2px solid @main-color;
}

.order-form__item:first-child .order-form__radio,
.order-form__item:first-child .order-form__checkbox {
  margin-top: 0;
}

.order-form__radio::before {
  height: 36px;

  border-radius: 50%;
}

.order-form__radio::after {
  top: 12px;
  left: 12px;

  display: none;
  width: 16px;
  height: 16px;

  background: @aqua-3;
  border-radius: 50%;
}

.order-form__input:checked + .order-form__radio::after {
  display: block;
}

.order-form__checkbox {
  min-height: 29px;
  margin-top: 21px;
  padding-top: 11px;
}

.order-form__checkbox::before {
  height: 35px;
}

.order-form__checkbox::after {
  top: 13px;
  left: 10px;

  display: none;
  width: 19px;
  height: 7px;

  transform: rotate(-45deg);

  border-left: 2px solid @main-color;
  border-bottom: 2px solid @main-color;
}

.order-form__input:checked + .order-form__checkbox::after {
  display: block;
}

.order-form__labelled-field {
  margin-top: 22px;
}

.order-form__labelled-field:first-of-type {
  margin-top: 20px;
}

.order-form__label {
  display: block;

  line-height: 1.2;
}

.order-form__field,
.order-form__textarea {
  display: block;
  width: 100%;

  font: inherit;
  font-size: 17px;

  border: none;

  &:hover,
  &:focus {
    border-color: @aqua-3;
  }
}

.order-form__field:-moz-placeholder,
.order-form__textarea:-moz-placeholder {
  color: fade(@main-color, 30%);
}

.order-form__field::-moz-placeholder,
.order-form__textarea::-moz-placeholder {
  color: fade(@main-color, 30%);
}

.order-form__field::-webkit-input-placeholder,
.order-form__textarea::-webkit-input-placeholder {
  color: fade(@main-color, 30%);
}

.order-form__field:-ms-input-placeholder,
.order-form__textarea:-ms-input-placeholder {
  color: fade(@main-color, 30%);
}

.order-form__field {
  padding-top: 13px;
  padding-bottom: 15px;

  line-height: 1.2;

  border-bottom: 2px solid @main-color;
}

.order-form__section--phone-number svg,
.order-form__section--email svg {
  position: absolute;
  top: 42px;

  fill: fade(black, 20%)
}

.order-form__section--phone-number svg {
  right: 3%;
}

.order-form__section--email svg {
  right: 1%;
}

.order-form__section--phone-number:hover svg,
.order-form__section--phone-number:focus svg,
.order-form__section--email:hover svg,
.order-form__section--email:focus svg {
  fill: @aqua-3;
}

.order-form__textarea {
  min-height: 142px;
  margin-top: 17px;
  padding: 14px;
  box-sizing: border-box;
  resize: none;

  line-height: 1.1;

  border: 2px solid @main-color;
}

.order-form__footer {
  width: 80%;
  min-width: 260px;
  margin: 0 auto;
}

.order-form__comment {
  margin: 0;

  font-size: 14px;
}

.order-form .btn {
  width: 100%;
  margin-top: 25px;
}

@media (min-width: @tablet-width) {
  .order-form {
    margin-top: 57px;
  }

  .order-form__background {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order-form__background:first-child {
    padding-top: 0;
  }

  .order-form__background:nth-child(2n) {
    background: @gray-2;
  }

  .order-form__background:last-of-type {
    padding-bottom: 53px;
  }

  .order-form__section {
    position: relative;

    width: 87%;
    max-width: 1050px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 22%;
    box-sizing: border-box;

    border: none;
  }

  .order-form__section:nth-child(n+2) {
    margin-top: 24px;
  }

  .order-form__section-heading {
    position: absolute;
    top: 8px;
    left: 0;

    background: transparent;
  }

  .order-form__list {
    display: flex;
    margin: 0;

    flex-wrap: wrap;
  }

  .order-form__item {
    width: 100%;

    &--column {
      width: 52%;
    }
  }

  .order-form__radio,
  .order-form__checkbox,
  .order-form__label,
  .order-form__field,
  .order-form__textarea {
    font-size: 19px;
  }

  .order-form__radio,
  .order-form__checkbox {
    margin-top: 24px;
    padding-top: 15px;
  }

  .order-form__item:nth-child(2) .order-form__checkbox {
    margin-top: 0;
  }

  .order-form__radio::before,
  .order-form__checkbox::before {
    height: 48px;
  }

  .order-form__radio {
    padding-bottom: 6px;
    padding-left: 16%;
  }

  .order-form__radio::before {
    width: 48px;
  }

  .order-form__radio::after {
    top: 16px;
    left: 16px;

    width: 21px;
    height: 21px;
  }

  .order-form__item--column:nth-child(2n) {
    width: 48%;
  }

  .order-form__checkbox {
    padding-bottom: 8px;
    padding-left: 32%;
  }

  .order-form__checkbox::before {
    width: 50px;
  }

  .order-form__checkbox::after {
    top: 15px;
    left: 13px;

    width: 27px;
    height: 14px;
  }

  .order-form__labelled-field {
    display: flex;
    margin-top: 24px;

    justify-content: space-between;
    align-items: baseline;
  }

  .order-form__labelled-field:first-of-type {
    margin: 0;
  }

  .order-form__label {
    padding-right: 5%;
  }

  .order-form__field {
    padding-left: 3%;
    box-sizing: border-box;

    background: transparent;
  }

  .order-form__section--phone-number svg,
  .order-form__section--email svg {
    top: 11px;
  }

  .order-form__section--phone-number svg {
    right: 4%;
  }

  .order-form__section--email svg {
    right: 3%;
  }

  .order-form__textarea {
    margin-top: 0;
    padding-top: 12px;
  }

  .order-form__footer {
    display: flex;
    width: 87%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    justify-content: space-between;
    align-items: baseline;
  }

  .order-form__comment {
    margin: 0;

    order: 1;

    font-size: 17px;
  }

  .order-form .btn {
    width: 230px;
    margin: 0;
    padding-bottom: 8px;

    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .order-form__background:first-child {
    padding-bottom: 49px;
  }

  .order-form__background:last-of-type {
    padding-bottom: 49px;
  }

  .order-form__section {
    width: 700px;
    padding-left: 0;
  }

  .order-form__section-heading {
    left: -113px;
  }

  .order-form__section:nth-child(n+2) .order-form__section-heading {
    top: 10px;
  }

  .order-form__item {

    &--column {
      width: 262px;
    }
  }

  .order-form__item--column:nth-child(2n) {
    width: 262px;
  }

  .order-form__item--column:nth-child(3n) {
    width: 170px;
  }

  .order-form__item--column:nth-child(3n-1) {
    width: 264px;
  }

  .order-form__radio,
  .order-form__checkbox {
    padding-left: 81px;
  }

  .order-form__item:nth-child(3) .order-form__checkbox {
    margin-top: 0;
  }

  .order-form__label {
    margin-left: 0;
    padding-right: 26px;
  }

  .order-form__field {
    padding-left: 17px;
  }

  .order-form__section--phone-number svg {
    top: 11px;
    right: 8px;
  }

  .order-form__section--email svg {
    top: 10px;
    right: 4px;
  }

  .order-form__footer {
    width: 700px;
  }
}
