.production-process {
  border: 1px solid @light-gray-border;
}

.production-process__heading {
  .bold(17px, black);

  line-height: 1.4;
}

.production-process__comment {
  font-size: 13px;
  line-height: 1.8;
}
