.product-of-week {
  .container();

  padding-top: 29px;
  padding-right: 9%;
  padding-bottom: 42px;
  padding-left: 9%;
  box-sizing: border-box;
}

.product-of-week__heading {
  margin: 0;

  .bold(25px, black);

  line-height: 1.1;
}

.product-of-week__crossheading {
  .aqua-heading();
}

.product-of-week__desc {
  margin: 0;
  margin-top: 15px;

  line-height: 1.6;
}

.product-of-week__features {
  width: 100%;
  margin-top: 18px;

  border-collapse: collapse;
}

.product-of-week__features tr {
  border-bottom: 1px solid @gray-3;
}

.product-of-week__features td {
  padding: 0;
  padding-top: 4px;
  padding-right: 10%;
  padding-bottom: 5px;
}

.product-of-week__picture {
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;

  width: 260px;
  height: auto;
}

.product-of-week__price {
  margin-top: 10px;

  .bold();

  text-align: center;
}

.product-of-week .btn {
  margin-top: 21px;
}

@media (min-width: @tablet-width) {
  .product-of-week {
    padding: 0;
    padding-top: 58px;
    padding-bottom: 69px;
  }

  .product-of-week__header {
    display: flex;

    justify-content: space-between;
    align-items: flex-end;
  }

  .product-of-week__heading {
    font-size: 43px;
  }

  .product-of-week__crossheading {
    width: 19%;

    line-height: 1;
    text-align: center;
  }

  .product-of-week__container {
    position: relative;

    margin-top: 51px;
    padding-right: 57%;
    box-sizing: border-box;
  }

  .product-of-week__desc {
    font-size: 17px;
    line-height: 1.8;
  }

  .product-of-week__features {
    margin-top: 36px;
  }

  .product-of-week__features td {
    padding-right: 0;
  }

  .product-of-week__picture {
    position: absolute;
    bottom: -9px;
    left: 50%;

    width: 333px;
    height: auto;
    margin: 0;
  }

  .product-of-week__price {
    margin-top: 48px;

    font-size: 20px;
  }

  .product-of-week .btn {
    margin-top: 26px;
  }
}

@media (min-width: @desktop-width) {
  .product-of-week {
    width: 700px;
    padding-top: 140px;
    padding-bottom: 96px;
  }

  .product-of-week__header {
    position: relative;
  }

  .product-of-week__heading {
    font-size: 53px;
  }

  .product-of-week__crossheading {
    position: absolute;
    top: 16px;
    left: -130px;

    width: 75px;
  }

  .product-of-week__container {
    margin-top: 48px;
    padding-right: 408px;
  }

  .product-of-week__features {
    margin-top: 50px;
  }

  .product-of-week__features td {
    padding-top: 2px;
    padding-bottom: 7px;
  }

  .product-of-week__picture {
    bottom: 0;
    z-index: -1;

    width: 525px;
    height: 636px;
  }

  .product-of-week__price {
    margin-top: 100px;
  }
}
