.product {
  margin-top: 30px;

  &:hover {
    box-shadow: 0 6px 10px 0 fade(black, 10%);
  }

  &:active {
    box-shadow: 0 3px 5px 0 fade(black, 10%);
  }
}

.product__picture {
  display: block;

  font-size: 0;

  background: @gray-2;
}

.product__picture img {
  width: 100%;
  height: auto;
}

.product__info {
  padding: 24px;
  padding-right: 10%;
  padding-left: 11%;

  border: 1px solid @gray-3;
}

.product__heading {
  margin: 0;

  font-size: 17px;
  line-height: 1.4;
}

.product__heading a {
  text-decoration: none;

  color: black;

  &:hover {
    color: fade(black, 60%);
  }

  &:active {
    color: fade(black, 30%);
  }
}

.product__desc {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 21px;

  font-size: 13px;
}

.product__buy {
  display: flex;
  padding-top: 18px;

  justify-content: space-between;

  border-top: 1px solid @gray-3;
}

.product__price {
  .bold(15px, black);
}

.product__cart {
  position: relative;

  display: block;
  width: 15%;
  height: 25px;
}

.product__cart svg {
  position: absolute;
  top: 3px;
  right: 5%;

  fill: fade(@gray-8, 20%);
}

.product__cart:hover svg {
  fill: @aqua-2;
}

.product__cart:active svg {
  fill: fade(@aqua-2, 30%);
}

@media (min-width: @tablet-width) {
  .product {
    display: flex;
    margin-top: 54px;
  }

  .product:first-child {
    margin-top: 67px;
  }

  .product__picture {
    width: 50%;
  }

  .product__info {
    display: flex;
    width: 50%;
    padding: 4%;
    padding-top: 25px;
    padding-bottom: 21px;
    box-sizing: border-box;

    flex-direction: column;
  }

  .product__heading {
    margin-right: 13%;
  }

  .product__heading a {
    font-size: 20px;
    line-height: 1.2;
  }

  .product__desc {
    margin: 0;
    margin-top: 5px;

    font-size: 15px;
  }

  .product__buy {
    width: 97%;
    margin-top: auto;
    padding-top: 17px;

    align-self: center;
  }

  .product__price {
    font-size: 17px;
  }

  .product__cart svg {
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .product {
    margin-top: 111px;

    flex-direction: column;
  }

  .product:first-child {
    margin-top: 111px;
  }

  .product__picture {
    width: 316px;
  }

  .product__info {
    width: 316px;
    min-height: 197px;
    padding-right: 27px;
    padding-bottom: 20px;
    padding-left: 27px;

    flex-grow: 1;
  }

  .product__heading {
    margin-right: 20px;
  }

  .product__buy {
    width: 261px;
    padding-top: 18px;
  }

  .product__cart {
    width: 30px;
    height: 30px;
  }

  .product__cart svg {
    right: 4px;
  }
}
