.put-in-cart {
  position: fixed;
  top: 50%;
  left: 50%;

  .container();

  padding-right: 9%;
  padding-bottom: 45px;
  padding-left: 9%;
  box-sizing: border-box;

  transform: translate(-50%, -50%);

  background: white;
  border: 1px solid @gray-6;
  border-right-color: white;
  border-left-color: white;
  box-shadow: 0 5px 10px 0 fade(black, 25%);
}

.put-in-cart__heading {
  margin: 0;
  margin-top: 30px;

  .bold(25px, black);

  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.put-in-cart__choose-size p {
  margin: 0;
  margin-top: 12px;

  text-align: center;
}

.put-in-cart__list {
  .reset-list();

  display: flex;
  margin-top: 23px;

  justify-content: space-between;
}

.put-in-cart__item {
  width: 32%;
}

.put-in-cart__input {
  display: none;
}

.put-in-cart__size {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;

  .bold();

  text-align: center;

  border: 2px solid @gray-3;

  &:hover {
    border-color: @gray-5;
  }
}

.put-in-cart__input:checked + .put-in-cart__size {
  border-color: @aqua-2;
}

.put-in-cart .btn {
  width: 100%;
  margin-top: 32px;
}

@media (min-width: @tablet-width) {
  .put-in-cart {
    width: 568px;
    padding-right: 106px;
    padding-bottom: 46px;
    padding-left: 106px;

    border-right-color: @gray-6;
    border-left-color: @gray-6;
  }

  .put-in-cart__heading {
    margin-top: 44px;

    font-size: 30px;
  }

  .put-in-cart__heading br {
    display: none;
  }

  .put-in-cart__choose-size {
    margin-right: 2px;
    margin-left: 2px;
  }

  .put-in-cart__choose-size p {
    margin-top: 22px;

    font-size: 17px;
  }

  .put-in-cart__list {
    margin-top: 19px;

    justify-content: space-between;
  }

  .put-in-cart__item {
    width: 112px;
  }

  .put-in-cart .btn {
    margin-top: 31px;
  }
}
